*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 190, 167);
}
.calendar{
    width: 80%;
    height: 40vh;
    background-color: white;
    color: rgb(49, 136, 213);
}

.curr_date{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.arrow{
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black; 
}

.arrow div{
    width: 15px;
    margin: 2px;
    background-color: rgb(47, 132, 243);
    border: 1px solid gray;
    text-align: center;
}

.weeks,.days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.weekdays,.norm,.spec{
    width: calc(100%/8);
    height: 5vh; 
    border: 1px solid white;
    background-color: rgb(143, 200, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.weekdays,.spec{
    background-color: rgb(52, 167, 244);
}
